.register, .login {
  &__title {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 7px;
  }
}

.login {
  &__header {
    margin: 40px 0;
  }
  &-form {
    &__actions {
      margin-top: 80px;
      margin-bottom: 25px;
    }
    &__alternative {
      display: block;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.register {
  &__header {
    margin: 15px 0;
  }
  &-form__actions {
    margin-bottom: 20px;
  }
}