.button {
  font-size: 14px;
  text-align: center;
  line-height: 45px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;

  &_wide {
    width: 100%;
  }

  &_thin {
    width: 50%;
  }

  &_primary {
    background: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    &:hover {
      border-color: var(--black);
    }
  }

  &_secondary {
    background: var(--white);
    color: var(--blue);
    border-color: var(--borderLightBlue);
    &:hover {
      border-color: var(--blue);
    }
  }

  &_danger {
    background: var(--red);
    color: var(--white);
    border-color: var(--red);
    &:hover {
      border-color: var(--black);
    }
  }

  &_logout {
    background: var(--white);
    color: var(--red);
    border-color: var(--red);
    &:hover {
      background: var(--red);
      color: var(--white);
    }
  }

  &_link {
    display: block;
  }
}

.back-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;

  &_hidden {
    visibility: hidden;
  }

  &__arrow {
    font-size: 46px;
    line-height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
  }
}