.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;

  &__sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 310px;
    overflow: hidden;
    height: 100vh;
    min-height: 100vh;
    background-color: var(--lightestGrey);
    border-right: 1px solid var(--borderLightGrey);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
  }

  &__topbar {
    display: flex;
    margin-bottom: 10px;
  }

  &__top {
    &-link {
      font-size: 20px;
      color: var(--blue);
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
      text-decoration: none;
    }
  }

  &__search {
    display: flex;
  }

  &-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &__item {
      display: flex;
      flex-direction: row;
      height: 72px;
      padding: 12px 10px;
      border-top: 1px solid var(--borderLightGrey);

      &:hover {
        background-color: var(--hoverLightBlue);
        cursor: pointer;
      }

      &_active {
        background-color: var(--blue);

        &:hover {
          background-color: var(--hoverBlue);
        }

        & .chat-list__username {
          color: var(--white);
        }

        & .chat-list__preview {
          color: var(--white);
        }

        & .chat-list__datetime {
          color: var(--white);
        }
      }
    }

    &__userpic {
      display: flex;
      margin-right: 10px;
    }

    &__content {
      display: flex;
      flex: 1;
      justify-content: left;
      flex-direction: column;
    }

    &__username {
      display: flex;
      font-weight: 600;
      font-size: 13px;
      color: var(--fontDarkGrey);
    }

    &__preview {
      display: flex;
      font-size: 12px;
      color: var(--fontGrey);
    }

    &__meta {
      display: flex;
      justify-content: right;
      flex-direction: column;
      width: 25px;
      position: relative;
    }

    &__datetime {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
      font-size: 9px;
      text-align: right;
      color: var(--fontGrey);
      text-transform: uppercase;
    }

    &__indicator {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__unread {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: var(--blue);
      color: var(--white);
      text-align: center;
    }
  }

  &__conversation {
    flex: 3;

    &_empty {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__empty {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--fontDarkGrey);
  }
}

.topbar {
  &__right {
    justify-content: flex-end;
  }
}

.userpic {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  background-color: var(--breaklineGrey);
  position: relative;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.preview {
  &__highlight {
    display: inline-block;
    margin-right: 5px;
    color: var(--blue);

    .chat-list__item_active & {
      color: var(--white);
    }
  }
}

.searchbar {
  &__input {
    width: 100%;
    padding: 7px 5px;
    background: var(--searchGrey);
    border-radius: 4px;
    border: 1px solid var(--fontGrey);
    color: var(--fontGrey);
    background-image: url("../img/magnifier.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 40%;
    text-indent: 45%;

    &:hover {
      border-color: var(--borderLightBlue);
    }

    &:focus {
      border-color: var(--blue);
      background-image: url("../img/magnifier-dark.svg");
      background-position-x: 7px;
      text-indent: 20px;
      color: var(--fontDarkGrey);
    }

    &:not(:placeholder-shown) {
      background-position-x: 7px;
      text-indent: 20px;
      color: var(--fontDarkGrey);
      border-color: var(--blue);
    }
  }
}

.conversation {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--lightestGrey);

  &__header {
    display: flex;
    flex-direction: row;
    height: 45px;
    margin: 10px 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--breaklineGrey);
    position: relative;
  }

  &__user-info {
    display: flex;
    flex: 1;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    &-button {
      border: 0;
      border-radius: 100%;
      width: 28px;
      height: 28px;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      background-image: url("../img/three-dots.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &:hover {
        background-color: var(--hoverLightBlue);
        background-image: url("../img/three-dots-active.svg");
      }
    }
  }

  &__context {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;

    &_active {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0 20px 10px 20px;
    padding-top: 10px;
  }

  &__message-form {
    display: flex;
    flex-direction: row;
    height: 55px;
    position: relative;
  }
}

.context {
  &-menu {
    width: 250px;
    padding: 10px 0;
    background-color: var(--lightestGrey);
    border-radius: 4px;
    box-shadow: 0 12px 36px rgba(18, 52, 77, 0.16), 0 0 5px rgba(18, 52, 77, 0.16);
  }

  &-button {
    background-color: transparent;
    color: var(--fontDarkGrey);
    border: 0;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: var(--hoverLightBlue);
    }

    &__content {
      display: flex;
      flex-direction: row;
      padding: 10px 20px;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      display: flex;
      width: 27px;
      margin-right: 20px;
    }

    &__text {
      display: flex;
      flex: 1;
      font-size: 14px;
    }
  }
}

.user {
  &-info {
    display: flex;
    flex-direction: column;

    &__name {
      display: flex;
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      color: var(--dotsBlack);
    }

    &__status {
      display: flex;
      font-size: 10px;
      line-height: 10px;
      color: var(--fontGrey);
      &_active {
        color: var(--blue);
      }
    }
  }
}

.actions-button_active {
  background-color: var(--hoverLightBlue);
  background-image: url("../img/three-dots-active.svg");
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &_incoming {
    align-items: flex-start;
  }

  &_outgoing {
    align-items: flex-end;
  }

  &__bubble {
    max-width: 50%;
    padding: 8px;

    .message_incoming & {
      background-color: var(--white);
      color: var(--fontDarkGrey);
      border-radius: 8px 8px 8px 0;
    }

    .message_outgoing & {
      background-color: var(--blue);
      color: var(--white);
      border-radius: 8px 8px 0 8px;
    }
  }

  &__text {
    display: flex;
  }

  &__meta {
    display: flex;
    justify-content: flex-end;
  }

  &__status {
    display: flex;
    margin-right: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 10px;

    &_read {
      background-image: url("../img/msg-delivered.svg");
    }

    &_sent {
      background-image: url("../img/msg-sent.svg");
    }
  }

  &__time {
    display: flex;
    font-size: 10px;

    .message_incoming & {
      color: var(--fontGrey);
    }

    .message_outgoing & {
      color: var(--white);
    }
  }

  &-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0;
    border-top: 1px solid var(--breaklineGrey);

    &__attachment-button {
      display: flex;
      margin-right: 15px;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      background-image: url("../img/attachment.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &:hover {
        background-color: var(--hoverLightBlue);
      }

      &_active {
        background-color: var(--hoverLightBlue);
      }
    }

    &__message {
      display: flex;
      flex: 1;
      padding: 6px 20px;
      background: var(--searchGrey);
      border-radius: 4px;
      color: var(--fontGrey);
      border: 1px solid transparent;
      font-size: 12px;
      margin-right: 10px;

      &:hover {
        border-color: var(--borderLightBlue);
      }

      &:focus {
        border-color: var(--blue);
        color: var(--fontDarkGrey);
      }

      &:not(:placeholder-shown) {
        border-color: var(--blue);
        color: var(--fontDarkGrey);
      }
    }

    &__submit-button {
      position: relative;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      border: 0;
      background-color: var(--fontGrey);
      background-image: url("../img/arrow-send-active.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      cursor: pointer;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &_active {
        background-color: var(--blue);
        opacity: 1;
      }
    }
  }
}

.attachment {
  &-menu {
    display: none;
    position: absolute;
    left: 0;
    bottom: 70px;

    &__item {
      position: relative;
      overflow: hidden;
    }

    &__input {
      height: 78px;
      width: 100%;
      display: block;
      margin-top: -22px;
      cursor: pointer;
      position: absolute;
    }
  }

  &_active {
    display: flex;
    flex-direction: column;
  }
}

.separator {
  height: 1px;
  border-top: 1px solid var(--breaklineGrey);
  width: 100%;
}

.overlay {
  display: none;
  background-color: var(--transparentBlack);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &_active {
    display: block;
  }
}

.modal {
  padding: 40px 35px 15px 35px;

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    text-align: center;
    margin-bottom: 40px;
  }

  &__username {
    margin-bottom: 40px;
  }

  &__message {
    font-size: 14px;
    color: var(--black);
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }
}

.add-user-form__actions {
  margin-top: 25px;
  margin-bottom: 30px;
}

.delete {
  &-conversation {
    &__modal {
      padding-bottom: 40px;
    }

    & .modal__message {
      text-align: center;
      margin: 60px 0;
    }
  }

  &-user {
    &__row {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
    }

    &__login {
      display: flex;
      flex: 2;
      justify-content: left;
      align-items: center;
      font-size: 16px;
    }

    &__button {
      display: flex;
      flex: 1;
    }

    &__action {
      display: flex;
      justify-content: center;
      margin: 30px 0;
    }
  }
}