@import "reset";
@import "fonts";
@import "common";
@import "forms";
@import "buttons";
@import "auth";
@import "chat";
@import "profile";
@import "error-page";

:root {
  --blue: #4285F4;
  --white: #fff;
  --black: #000;
  --transparentBlack: rgba(0, 0, 0, 0.3);
  --red: #E43538;
  --backgroundGrey: #EBEFF3;
  --fontDarkGrey: #4D5167;
  --borderLightGrey: #CFD7DF;
  --borderLightBlue: #A0C2F9;
  --lightestGrey: #F3F5F7;
  --searchGrey: #EFEFEF;
  --fontGrey: #999999;
  --breaklineGrey: #EAEAEA;
  --dotsBlack: #1E1E1E;
  --hoverLightBlue: #E0E9F7;
  --hoverBlue: #5490F4;
}