.profile {
  &__header {
    height: 55px;
    margin: 0 20px;
    border-bottom: 1px solid var(--breaklineGrey);
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 500;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__picture {
    display: flex;
    position: relative;
    margin-bottom: 10px;

    .profile-form & {
      margin: 0 auto 20px auto;
    }
  }

  &__fullname {
    font-size: 24px;
    color: var(--fontDarkGrey);
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-bottom: 20px;
  }

  &-pic {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid var(--blue);
    overflow: hidden;

    &:hover .profile-pic__edit {
      opacity: 1;
      border: 2px solid var(--blue);
      position: relative;
      cursor: pointer;
    }

    &_empty {
      background: var(--searchGrey);
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__edit {
      opacity: 0;
      border-radius: 100%;
      height: 160%;
      width: 120%;
      margin-top: -30%;
      margin-left: -10%;
      z-index: 1;
      background-color: var(--transparentBlack);
      border: 0;
    }

    &__input {
      height: 100%;
      width: 100%;
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 999;
    }

    &__label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 14px;
      color: var(--white);
      pointer-events: none
    }
  }

  &__action {
    width: 100%;
  }

  &__buttons {
    display: flex;
    margin-bottom: 22px;
  }

  &__edit {
    padding-top: 30px;
  }

  &-form {
    &__actions {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}

.prop {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--breaklineGrey);

  &__title {
    display: flex;
    flex: 1;
    justify-content: left;
    color: var(--fontDarkGrey);
    font-size: 20px;
    font-weight: 500;
  }

  &__value {
    display: flex;
    flex: 2;
    justify-content: right;
    font-size: 20px;
    color: var(--fontGrey);
  }
}