<div class="user-info">
    <h1 class="user-info__name">{{name}}</h1>
    {{#if isOnline}}
        <span class="user-info__status user-info__status_active">Online</span>
    {{else}}
        <span class="user-info__status">last seen recently</span>
    {{/if}}
</div>

