@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {
    --blue: #4285F4;
    --white: #fff;
    --black: #000;
    --transparentBlack: rgba(0, 0, 0, 0.3);
    --red: #E43538;
    --backgroundGrey: #EBEFF3;
    --fontDarkGrey: #4D5167;
    --borderLightGrey: #CFD7DF;
    --borderLightBlue: #A0C2F9;
    --lightestGrey: #F3F5F7;
    --searchGrey: #EFEFEF;
    --fontGrey: #999999;
    --breaklineGrey: #EAEAEA;
    --dotsBlack: #1E1E1E;
    --hoverLightBlue: #E0E9F7;
    --hoverBlue: #5490F4;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 100%;
}
.body_background_empty {
    background-color: var(--backgroundGrey);
}
.body_background_profile {
    background-color: var(--lightestGrey);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 460px;
    width: 100%;
    padding: 0 34px;
    border-radius: 14px;
    background: var(--white);
    box-shadow: 0px 0px 5px rgba(18, 52, 77, 0.16), 0px 12px 36px rgba(18, 52, 77, 0.04);
}

.top-header {
    display: flex;
}
.top-header__left {
    flex: 1;
    display: flex;
    justify-content: left;
}
.top-header__center {
    flex: 2;
    display: flex;
    justify-content: center;
}
.top-header__right {
    flex: 1;
    display: flex;
    justify-content: right;
}

.login__title,
.register__title {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 7px;
}

.form {
    display: flex;
    flex-direction: column;
}
.form__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 10px;
}
.form__label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12px;
    color: var(--fontDarkGrey);
}
.form__input {
    background: var(--white);
    border: 1px solid var(--borderLightGrey);
    box-sizing: border-box;
    padding: 14px 10px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--black);
}
.form__input:focus {
    border-color: var(--blue);
}
.form__input_wide {
    width: 100%;
}
.form__input_error {
    border-color: var(--red);
}
.form__error {
    display: block;
    line-height: 14px;
    min-height: 14px;
    margin-top: 5px;
    font-size: 11px;
    color: var(--red);
}

.double {
    flex: 2;
    flex-direction: row;
}
.double__child:not(:last-child) {
    margin-right: 30px;
}

.login__header {
    margin: 40px 0;
}
.login-form__actions {
    margin-top: 80px;
    margin-bottom: 25px;
}
.login-form__alternative {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.register__header {
    margin: 15px 0;
}
.register-form__actions {
    margin-bottom: 20px;
}

.button {
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.button_wide {
    width: 100%;
}
.button_thin {
    width: 50%;
}
.button_primary {
    background: var(--blue);
    color: var(--white);
    border-color: var(--blue);
}
.button_primary:hover {
    border-color: var(--black);
}
.button_secondary {
    background: var(--white);
    color: var(--blue);
    border-color: var(--borderLightBlue);
}
.button_secondary:hover {
    border-color: var(--blue);
}
.button_danger {
    background: var(--red);
    color: var(--white);
    border-color: var(--red);
}
.button_danger:hover {
    border-color: var(--black);
}
.button_logout {
    background: var(--white);
    color: var(--red);
    border-color: var(--red);
}
.button_logout:hover {
    background: var(--red);
    color: var(--white);
}

.back-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: var(--blue);
    cursor: pointer;
    text-decoration: none;
}
.back-button_hidden {
    visibility: hidden;
}
.back-button__arrow {
    font-size: 46px;
    line-height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.back-button__text {
    font-size: 20px;
    line-height: 30px;
}


.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
.error__code {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 40px;
}
.error__description {
    font-size: 20px;
    margin-bottom: 70px;
    font-weight: 400;
}


.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
}
.chat__sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 310px;
    overflow: hidden;
    height: 100vh;
    min-height: 100vh;
    background-color: var(--lightestGrey);
    border-right: 1px solid var(--borderLightGrey);
}
.chat__nav {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}
.chat__topbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.chat__profile-link {
    font-size: 20px;
    color: var(--blue);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}
.chat__search {
    display: flex;
}

.chat__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.chat-list__item {
    display: flex;
    flex-direction: row;
    height: 72px;
    padding: 12px 10px;
    border-top: 1px solid var(--borderLightGrey);
}
.chat-list__item:hover {
    background-color: var(--hoverLightBlue);
    cursor: pointer;
}
.chat-list__item_active {
    background-color: var(--blue);
}
.chat-list__item_active:hover {
    background-color: var(--hoverBlue);
}
.chat-list__userpic {
    display: flex;
    margin-right: 10px;
}
.chat-list__content {
    display: flex;
    flex: 1;
    justify-content: left;
    flex-direction: column;
}
.chat-list__username {
    display: flex;
    font-weight: 600;
    font-size: 13px;
    color: var(--fontDarkGrey);
}
.chat-list__item_active .chat-list__username {
    color: var(--white);
}
.chat-list__preview {
    display: flex;
    font-size: 12px;
    color: var(--fontGrey);
}
.chat-list__item_active .chat-list__preview {
    color: var(--white);
}
.chat-list__meta {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 25px;
    position: relative;
}
.chat-list__datetime {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    font-size: 9px;
    text-align: right;
    color: var(--fontGrey);
    text-transform: uppercase;
}
.chat-list__item_active .chat-list__datetime {
    color: var(--white);
}
.chat-list__indicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.chat-list__unread {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
}

.userpic {
    width: 47px;
    height: 47px;
    border-radius: 100%;
    background-color: var(--breaklineGrey);
    position: relative;
    overflow: hidden;
}
.userpic__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat__conversation {
    flex: 3;
}
.chat__conversation_empty {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat__empty {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--fontDarkGrey);
}

.preview__highlight {
    display: inline-block;
    margin-right: 5px;
    color: var(--blue);
}
.chat-list__item_active .preview__highlight {
    color: var(--white);
}


.searchbar__input {
    width: 100%;
    padding: 7px 5px;
    background: var(--searchGrey);
    border-radius: 4px;
    border: 1px solid var(--fontGrey);
    color: var(--fontGrey);
    background-image: url("../img/magnifier.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 40%;
    text-indent: 45%;
}
.searchbar__input:hover {
    border-color: var(--borderLightBlue);
}
.searchbar__input:focus {
    border-color: var(--blue);
    background-image: url("../img/magnifier-dark.svg");
    background-position-x: 7px;
    text-indent: 20px;
    color: var(--fontDarkGrey);
}
.searchbar__input:not(:placeholder-shown) {
    background-position-x: 7px;
    text-indent: 20px;
    color: var(--fontDarkGrey);
    border-color: var(--blue);
}

.conversation {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    min-height: 100vh;
    background-color: var(--lightestGrey);
}
.conversation__header {
    display: flex;
    flex-direction: row;
    height: 45px;
    margin: 10px 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--breaklineGrey);
    position: relative;
}
.conversation__user-info {
    display: flex;
    flex: 1;
}
.conversation__actions {
    display: flex;
    justify-content: flex-end;
}
.conversation__context {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
}
.conversation__context_active {
    display: flex;
    flex-direction: column;
}
.conversation__list {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0 20px 10px 20px;
    padding-top: 10px;
}
.conversation__message-form {
    display: flex;
    flex-direction: row;
    height: 55px;
    position: relative;
}

.context-menu {
    width: 250px;
    padding: 10px 0;
    background-color: var(--lightestGrey);
    border-radius: 4px;
    box-shadow: 0 12px 36px rgba(18, 52, 77, 0.16), 0 0 5px rgba(18, 52, 77, 0.16);
}
.context-button {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--fontDarkGrey);
    border: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.context-button:hover {
    background-color: var(--hoverLightBlue);
}
.context-button__icon {
    display: flex;
    width: 27px;
    margin-right: 20px;
}
.context-button__text {
    display: flex;
    flex: 1;
    font-size: 14px;
}

.context-button-new {

}

.user-info {
    display: flex;
    flex-direction: column;
}
.user-info__name {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--dotsBlack);
}
.user-info__activity {
    display: flex;
    font-size: 10px;
    line-height: 10px;
    color: var(--fontGrey);
}

.conversation__actions-button {
    border: 0;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../img/three-dots.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.conversation__actions-button:hover {
    background-color: var(--hoverLightBlue);
    background-image: url("../img/three-dots-active.svg");
}
.actions-button_active {
    background-color: var(--hoverLightBlue);
    background-image: url("../img/three-dots-active.svg");
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.message_incoming {
    align-items: flex-start;
}
.message_outgoing {
    align-items: flex-end;
}
.message__bubble {
    max-width: 50%;
    padding: 8px;
}
.message_incoming .message__bubble {
    background-color: var(--white);
    color: var(--fontDarkGrey);
    border-radius: 8px 8px 8px 0;
}
.message_outgoing .message__bubble {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 8px 8px 0 8px;
}
.message__text {
    display: flex;
}
.message__meta {
    display: flex;
    justify-content: flex-end;
}
.message__status {
    display: flex;
    margin-right: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 10px;
}
.message__status_read {
    background-image: url("../img/msg-delivered.svg");
}
.message__status_sent {
    background-image: url("../img/msg-sent.svg");
}
.message__time {
    display: flex;
    font-size: 10px;
}
.message_incoming .message__time {
    color: var(--fontGrey);
}
.message_outgoing .message__time {
    color: var(--white);
}

.message-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0;
    border-top: 1px solid var(--breaklineGrey);
}
.message-form__attachment-button {
    display: flex;
    margin-right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../img/attachment.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.message-form__attachment-button:hover {
    background-color: var(--hoverLightBlue);
}
.message-form__attachment-button_active {
    background-color: var(--hoverLightBlue);
}
.message-form__message {
    display: flex;
    flex: 1;
    padding: 6px 20px;
    background: var(--searchGrey);
    border-radius: 4px;
    color: var(--fontGrey);
    border: 1px solid transparent;
    font-size: 12px;
    margin-right: 10px;
}
.message-form__message:hover {
    border-color: var(--borderLightBlue);
}
.message-form__message:focus {
    border-color: var(--blue);
    color: var(--fontDarkGrey);
}
.message-form__message:not(:placeholder-shown) {
    border-color: var(--blue);
    color: var(--fontDarkGrey);
}

.message-form__submit-button {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 0;
    background-color: var(--fontGrey);
    background-image: url("../img/arrow-send-active.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    opacity: 0.8;
}
.message-form__submit-button:hover {
    opacity: 1;
}
.message-form__submit-button_active {
    background-color: var(--blue);
    opacity: 1;
}

.attachment-menu {
    display: none;
    position: absolute;
    left: 0;
    bottom: 70px;
}
.attachment-menu_active {
    display: flex;
    flex-direction: column;
}
.attachment-menu__item {
    position: relative;
    overflow: hidden;
}
.attachment-menu__input {
    height: 78px;
    width: 100%;
    display: block;
    margin-top: -22px;
    cursor: pointer;
    position: absolute;
}

.separator {
    height: 1px;
    border-top: 1px solid var(--breaklineGrey);
    width: 100%;
}

.overlay {
    display: none;
    background-color: var(--transparentBlack);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.overlay_active {
    display: block;
}

.modal {
    padding: 40px 35px 15px 35px;
}
.modal__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    text-align: center;
    margin-bottom: 40px;
}
.modal__username {
    margin-bottom: 40px;
}
.modal__message {
    font-size: 14px;
    color: var(--black);
}
.modal__buttons {
    display: flex;
    flex-direction: row;
}

.add-user-form__actions {
    margin-top: 25px;
    margin-bottom: 30px;
}

.delete-conversation__modal {
    padding-bottom: 40px;
}
.delete-conversation .modal__message {
    text-align: center;
    margin: 60px 0;
}

.profile__header {
    height: 55px;
    margin: 0 20px;
    border-bottom: 1px solid var(--breaklineGrey);
}
.profile__title {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 500;
}
.profile__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.profile__picture {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.profile__picture_empty {
    background: var(--searchGrey);
}
.profile-form .profile__picture {
    margin: 0 auto 20px auto;
}
.profile__fullname {
    font-size: 24px;
    color: var(--fontDarkGrey);
    margin-bottom: 20px;
}
.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-bottom: 20px;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid var(--blue);
    overflow: hidden;
}
.profile-pic__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-pic__edit {
    opacity: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
}
.profile-pic__edit:hover {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    border: 2px solid var(--blue);
}
.profile-pic__input {
    height: 120%;
    width: 100%;
    display: block;
    margin-top: -20%;
    cursor: pointer;
}
.profile-pic__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    color: var(--white);
    pointer-events: none
}

.prop {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--breaklineGrey);
}
.prop__title {
    display: flex;
    flex: 1;
    justify-content: left;
    color: var(--fontDarkGrey);
    font-size: 20px;
    font-weight: 500;
}
.prop__value {
    display: flex;
    flex: 2;
    justify-content: right;
    font-size: 20px;
    color: var(--fontGrey);
}

.profile__action {
    width: 100%;
}
.profile__buttons {
    display: flex;
    margin-bottom: 22px;
}
.profile__edit {
    padding-top: 30px;
}
.profile-form__actions {
    margin-top: 20px;
    margin-bottom: 30px;
}

.password-form {
    padding-top: 60px;
}
.password-form__actions {
    margin-top: 40px;
    margin-bottom: 30px;
}