:root {
    --blue: #4285F4;
    --white: #fff;
    --black: #000;
    --red: #E43538;
    --backgroundGrey: #EBEFF3;
    --fontDarkGrey: #4D5167;
    --borderLightGrey: #CFD7DF;
    --borderLightBlue: #A0C2F9;
    --lightestGrey: #F3F5F7;
    --searchGrey: #EFEFEF;
    --fontGrey: #999999;
    --breaklineGrey: #EAEAEA;
    --almostWhiteGrey: #F2F4F7; /* active chat bg */
    --dotsBlack: #1E1E1E;
    --hoverLightBlue: #E0E9F7;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 30px;
}

form {

}

form label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: var(--fontDarkGrey);
}
form label:first-child {
    margin-bottom: 8px;
}

form input {
    background: var(--white);
    border: 1px solid var(--borderLightGrey);
    box-sizing: border-box;
    padding: 14px 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--black);
}
form input:focus {
    border-color: var(--blue);
}

.form-input-field {
    margin: 10px 0;
}
.form-input-field-error input {
    border-color: var(--red);
}
.input-wide {
    width: 100%;
}
label.label-error {
    color: var(--red);
    margin-top: 8px;
    min-height: 14px;
}

.form-login-action {
    margin-top: 90px;
    margin-bottom: 25px;
}
.form-login-action span {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}


.background-empty {
    background-color: var(--backgroundGrey);
}
.container {
    max-width: 460px;
    width: 100%;
    background: var(--white);
    border-radius: 14px;
    padding: 0 34px;
}
.shadow-wrap {
    box-shadow: 0px 0px 5px rgba(18, 52, 77, 0.16), 0px 12px 36px rgba(18, 52, 77, 0.04);
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.button {
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}
.button-wide {
    width: 100%;
}
.button-primary {
    background: var(--blue);
    color: var(--white);
}
.button-primary:hover {
    border-color: var(--black);
}
.button-secondary {
    background: var(--white);
    color: var(--blue);
    border-color: var(--borderLightBlue);
}
.button-secondary:hover {
    border-color: var(--blue);
}

.app-name {
    font-family: 'Roboto Slab', serif;
    margin: 40px 0;
    text-align: center;
}