<div class="conversation">
    <header class="conversation__header">
        {{{conversationUserInfo}}}
        {{{conversationActionsButton}}}
    </header>
    {{{messagesList}}}
    {{{messageForm}}}
</div>
